* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    overflow-y: auto;
}

.form-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    margin-bottom: 1.5%;
    display: flex;
    align-items: center;
}

.textarea-group {
    align-items: flex-start;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group label, .image-group label{
    font-weight: bold;
    margin-right: 25px;
    min-width: 70px;
    flex-shrink: 0;
    text-align: right;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 0.1em solid #ccc;
    font-size: 16px;
}

.input-row .input-group {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.input-group input#input4 {
    width: 75%;
}

.input-row .input-group:last-child {
    margin-right: 0;
}

textarea {
    resize: none;
}

.image-group {
    display: flex;
    align-items: flex-start;
}

.image-group label {
    display: block;
    font-weight: bold;
}

.image-group img {
    width: calc(100% - 80px);
    border-radius: 5px;
    margin-left: auto;
}